<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Copy this configuration on your application, configure the connection string -->
  <connectionStrings>
    <add name="JobLogger" connectionString="Data Source=.;Initial Catalog=joblogger;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
