<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Copy this configuration on your application, configure the file path and name -->
  <appSettings>
    <add key="LogFileDirectory" value="C:\\inetpub\\logs\\"/>
    <add key="LogFileName" value="LogFile"/>
  </appSettings>
</configuration>
